<style>
div.discuss {
    background-color: #D7FFDA;
    border-color: #dFb5b4;
    border-left: 10px solid #dfb5b4;
    border-right: 10px solid #dfb5b4;
    padding: 0.5em;
    font-size: 20px;
    color: #000000;
    }
 </style>

 <style>
 div.header {
     background-color: #E0FFFD;
     border-color: #dFb5b4;
     border-left: 10px solid #dfb5b4;
     border-right: 10px solid #dfb5b4;
     padding: 0.5em;
     font-size: 20px;
     color: #000000;
     }
  </style>


<style>
a.big {
    color: #0000EE;
    font-size: 20px;
    }
</style>

<style>
.container {
    width:85% !important;
    }
</style>
